%table.table.center.table-bordered
  %thead
    %tr
      %td 文章名称
      %td 状态
      %td 操作
    %tbody
    - @articles.each do |article|
      - if article.status != "deleted"
        %tr{class: article_status_class(article)}
          %td
            = link_to article.title, edit_admin_article_path(article)
          %td= t(article.status)
          %td
            - if can? :edit, article
              = link_to '编辑', edit_admin_article_path(article)