.container
  .span12
    .row
      .span1
      .span7.article_left
        - @articles.each do |article|
          .article_panel
            .article
              = raw(article.chinese_title)
              = raw(article.chinese_content)
            = link_to "阅读全文", article_path(article.id), class:"read_more"
            %p.blank 
      .span3.article_right
        .article_panel
          .widgetitle 最新文章
          %ul.article_list
            - @articles.each do |article|
              %li
                =article.chinese_title
        .article_panel
          .widgetitle 标签
          %ul.article_mark
            %li 生活
            %li ruby on rails
      .span1
