%h3.title 文章以及文章类别总览
%table.table.center.table-bordered
  %thead
    %tr
      %td 文章名
    %tbody
    - @articles.each do |article|
      %tr{class: "success"}
        %td
          = link_to article.title, edit_admin_article_path(article)
 

