body {
  background: #e5e5e5 url("http://xiaolong.u.qiniudn.com/mooning.jpg");
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.navbar{
  margin-bottom: 0px;
}
.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.hero-unit {
  position: relative;
  background-position: right -100px;
  background: url("http://xiaolong.u.qiniudn.com/muji2.png") ;
  background-size: cover;
  color: #fff;
  height: 400px;
  margin-bottom: 0;
}
.hero-unit h1 {
  /* font: 88px Minion,'Optima', "Times New Roman", Times, serif; */
  text-align: center;
  text-shadow: 1px 1px 10px black;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
.hero-unit .banner-link a:hover {
  color: white;
}
.hero-unit .banner-link{
  position: absolute;
  right: 20px;
  bottom: 8px;
  font: 200 12px/1.8 'Optima', 'Verdana', 'Microsoft Yahei', sans-serif;
  text-align: right;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}
.hero-unit .banner-link a{
  color: #64C7FA;
  text-decoration: none;
}
.description {
	position: relative;
	margin-top: -210px;
	-webkit-animation: description-in 1s ease-out 0 1 forwards;
}
.panel-description {
	background: rgba(255, 255, 255, 0.80);
	color: #333;
	padding: 0px;
	margin-bottom: 80px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 1px 1px 2px #FFF;
	-webkit-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow:    0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
	-ms-box-shadow:     0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);  
	-o-box-shadow:      0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
}
.padding-middle {
  padding: 25px;
}
img.profile {
	max-width: 100px;
	margin-top: 5px;
	margin-bottom: 10px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	transition: 500ms;
	-webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25); 
}
img.profile:hover {
	-webkit-animation: profile-img-hover 1000ms ease-out 100ms infinite forwards;
	cursor: -webkit-grab;
}
img.profile:active {
	-webkit-animation: profile-img-active 500ms linear 0 infinite forwards;
}
.no-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.radius{
	-webkit-border-top-left-radius: 6px; 
	-webkit-border-bottom-left-radius: 6px; 
	-moz-border-top-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.carousel{
	margin-bottom: 0px;
}
.carousel-indicators {
	bottom: 20px;
	right: 15px;
	top: auto;
}
.carousel-indicators li {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	text-indent: -999px;
	background-color: #ccc;
	background-color: rgba(255,255,255,0.25);
	border-radius: 5px;
}
.padding-large {
	padding: 45px;
}
p.wo:first-letter {
	font-size: 115%;
	padding-right: 1px;	
}

.carousel-inner{
	position: relative;
	width: 100%;
	overflow: hidden;
	webkit-transition: 500ms;
	-moz-transition: 500ms;
	transition: 500ms;
	 -webkit-border-top-left-radius: 6px; 
	 -webkit-border-left-radius: 6px; 
	-moz-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-radius: 6px;
}

.panel {
	background: #FFF url("http://dw-resources.qiniudn.com/images/patterns/white_wall_hash.jpg");
	padding: 0px;
	margin-bottom: 120px;
	color: #333;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, .075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	*/
	-webkit-animation: panel-in 1s linear 0 1;
	-webkit-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	-ms-box-shadow:     0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	-o-box-shadow:      0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
}
.panel h1, .panel h3 {
	cursor: default;
	background: -webkit-linear-gradient(top, rgba(70, 70, 70, 1) 0%,rgba(111, 111, 111, 1) 50%,rgba(10, 14, 10, 1) 51%,rgba(10, 8, 9, 1) 100%);
	-webkit-box-reflect: below -7px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.2, transparent), to(rgba(3,3,3,.1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.panel h3 {
	-webkit-box-reflect: below -17px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.4, transparent), to(rgba(3,3,3,.2)));
}
.muiti-contact {
	font: 400 50px/1.8 'Quattrocento Sans', 'Optima', 'Verdana', 'Microsoft Yahei', sans-serif;
	text-align: center;
	cursor: default;
	color: rgba(0, 0, 0, 0.4);
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-user-select: text;
}
.leave_message {
	font: 400 40px/1.8 'Quattrocento Sans', 'Optima', 'Verdana', 'Microsoft Yahei', sans-serif;
	cursor: default;
	color: rgba(0, 0, 0, 0.4);
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-user-select: text;
	padding-left: 60px;
}